.btn-save{
    margin-top:5%;
    border: 2px solid #002147 !important;
    background-color:#002147 !important;;
    /* color: #002147 !important; */
    color:#EFD9CE !important;

}
#inputName::placeholder{
    color: #002147 !important;
}
