tbody td{
    text-align: center;
    color : #EFD9CE !important;
}
    
thead th{
    text-align: center;
    color: #EFD9CE !important;
}
.table-card-content{
    background-color: #002147 !important;
}
.btn-sendKitchen{
    color:#EFD9CE !important;
}
.orderOf{
    color: #EFD9CE !important;
}
.btn-total{
    color: #EFD9CE !important;
}
.btn-price{
    color: #EFD9CE !important;
}