body{
  background:  #EFD9CE;
}
#half1{
  background:  #EFD9CE;
}
#half2{
  background:  #EFD9CE ;
}
.btn-options{
  margin-left: 1%;
  margin-right: 7%;
  margin-bottom: 4%;
  background: #A675A1 !important;
  color: #EFD9CE;
}
/* .blackButton{
  background: black;
}
.whiteButton{
  background: pink;
} */
tbody td{
text-align: center;
color : #EFD9CE !important;
}
.holi2{
  color: #002147;
}
thead th{
  text-align: center;
  color: #EFD9CE !important;
}
.table-card-content{
  background-color: #002147 !important;
}
.btn-save{
  margin-top:5%;
  border: 2px solid #002147 !important;
  background-color: #EFD9CE !important;
  color: #002147 !important;
}
.btn-coffee{
  border: 3px solid #7e57c2;
  margin: 2%;
  background-color: #CEA2AC !important;
  color: #002147 !important;
}

.App {
  text-align: center;
}
.App-header {
  background:  #EFD9CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#8F3985;
  font-family: 'Bungee Inline', cursive;
  font-size: 35px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
