body{
  background:  #EFD9CE;
}
#half1{
  background:  #EFD9CE;
}
#half2{
  background:  #EFD9CE ;
}
.App {
  text-align: center;
}
.btn-waitress{
  float: left;
  margin-left: 5%;
}
.btn-kitchen{
  float: right;
  margin-right: 5%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .blackButton{
  background: black;
}
.whiteButton{
  background: pink;
} */